* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.barlow-semi-condensed-regular {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-semi-condensed-semibold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}
:root {
  /* ## Colors*/

  /*### Primary*/

  --ScissorsGradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --PaperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --RockGradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --LizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
  -cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

  /*### Neutral*/

  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);

  /*### Background*/

  /*hsl(214, 47%, 23%) to hsl(237, 49%, 15%);*/
}
body {
  width: 375px;
  height: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/*.................(>1366px)......................*/
@media only screen and (min-width: 1366px) {
  body {
    width: 1372px;
    height: 768px;
    display: flex;
    justify-content: center;
  }
}
