.container_main {
  width: 320px;
  height: 570px;
  /*border: 4px solid wheat;*/
}
.container_bottons {
  margin-top: 100px;
  width: 320px;
  height: 288px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  /*border: 5px solid black;*/
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: 220px, 220px;
  background-position: 50px, 50px;
}
.container_rules {
  width: 320px;
  height: 176px;
  display: flex;
  justify-content: space-around;
  align-items: center;
 /* border: 4px solid wheat;*/
  flex-direction: column;
}

.container_text button:hover {
  box-shadow: 5px 6px 3px rgba(0, 0, 0, 0.2);
}

.container_game {
  margin-top: 100px;
  width: 320px;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid wheat;*/
  flex-direction: row;
  margin-top: 100px;
  width: 320px;
  height: 288px; 
  justify-content: center;
  align-items: center;
  
}
.container_game_gamer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 35px;
  color: white;
  transform: translateY(-50px);
}
.container_section_game {
  display: flex;
}
