.container_rules button {
  width: 135px;
  height: 45px;
  border: 2px solid var(--HeaderOutline);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  animation: box-shadow 3s ease-in-out;
  background-color: transparent;
}

.container_rules button:hover {
  box-shadow: 5px 6px 3px rgba(0, 0, 0, 0.2);
}
.container_text {
  color: white;
  width: 320px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container_text h2 {
  font-size: 35px;
  transform: translateY(-50px);
}

.container_text button {
  width: 225px;
  height: 56px;
  border-radius: 10px;
  color: gray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.container__text_rules {
  display: flex;
}
/*.................(>1366px)......................*/
@media only screen and (min-width: 1366px) {
  .container_text h2 {
    transform: translate(-280px, -90px);
    font-size: 40px;
    z-index: -1;
  }
  .container_text button {
    width: 225px;
    height: 56px;
    transform: translate(-280px, -90px);
    z-index: -1;
  }
  .rules_button button {
    transform: translate(100px, 0);
  }
}
